.container {

    display:grid;
    grid-template-rows:repeat(6,1fr);
    grid-template-columns:200px 501px 501px;
    gap:10px;
    
    
}


.background1 {
    background-color:#C7DDEA;
    width:501px;
    height:544px;
    grid-row:1;
    grid-column:2;  
    

}

.background1 h1 {
    
    font-family: 'Frank Ruhl Libre', serif;
    font-style:normal;
    font-weight:900;
    font-size:45px;
    line-height:100%;
    letter-spacing:-0.02em;
    width:314px;

    
}

.background1 > p {

    font-family:'Fira Sans', sans-serif;
    font-size:14px;
    line-height:24px;
    color:rgba(0, 0, 0, 0.6);
    width:268px;
}

header > p > span {
    color:white;
}

 .container h2 {

    background-color:#F17949;
    width:501px;
    height:272px;
    grid-row:1;
    grid-column:3;
 }