
.wrapper {

    max-width:1000px;
    margin:auto;
}


.container {

    display:grid;
    grid-auto-rows:minmax(auto, 272px);
    grid-template-columns: auto auto;
    
}


.background1 {
    background-color:#C7DDEA;
    width:501px;
    height:544px;
    grid-row:1 / span 2;
    grid-column:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    

}

.background2 {
    grid-row:1;
    grid-column:2;
}

.background2 h2, .background3 h2{
    margin:0;
}
.background3{
    grid-row: 2;
    grid-column:2;
}

#frame1 {
    grid-row:1;
    grid-column:1;
    background-color:#F17949;
    width:501px;
    height:272px;   
}

#frame2 {

    grid-row:2;
    grid-column:1;
    width:501px;
    height:272px;
    background-color:#FAB131;
}


.background1 h1 {
    
    font-family: 'Frank Ruhl Libre', serif;
    font-style:normal;
    font-weight:900;
    font-size:45px;
    line-height:100%;
    letter-spacing:-0.02em;
    width:314px;
    
}

.background1 > p {

    font-family:'Fira Sans', sans-serif;
    font-size:14px;
    line-height:24px;
    color:rgba(0, 0, 0, 0.6);
    width:268px;
}

.background1 > p > span {
    color:white;
}

 #frame1 > h2 {

    font-family:'Frank Ruhl Libre', serif;
    font-size:32px;
    line-height:41px;
    color:#FFFFFF;
    letter-spacing:-0.02em;
 }

 #frame2 > h2 {

    font-family:'Frank Ruhl Libre', serif;
    font-size:32px;
    line-height:41px;
    color:#FFFFFF;
    letter-spacing:-0.02em;

 }

 